<!DOCTYPE HTML>
<html>
<style>
body{margin:0px;}
html, 
body {
    height: 100%;
 
}
</style>

<body>

</body>

<script src = "/jquery-3.2.1.min.js"></script>
<script src = "/three.js"></script>
<script src = "/objects.js"></script>
<script src = "/util.js"></script>
<script src = "/controls.js"></script>
<script src = "/OrbitControls.js"></script>
<script src = "/scene.js"></script>
</html>